@import "{ohif:design}/app"

body
  background-color: black

#viewer
  background-color: black
  height: calc(100% - 40px)
  width: 100%
  margin-top: -10px
.loadingTextDiv
  theme('color', '$textSecondaryColor')
  font-size: 30px
